.venv/
SOSD/
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
**/.DS_Store
report/__MACOSX/
report/report/*.aux
report/report/*.bbl
report/report/*.blg
report/report/*.fdb_latexmk
report/report/*.fls
report/report/*.log
report/*.aux
report/*.bbl
report/*.blg
report/*.fdb_latexmk
report/*.fls
report/*.log
uv (Copy).lock

conversation_logs/
